<!-- 
	kss/index.html
	This is the template used by KSS-node to generate the documentation.  
  
  Project-specific customisation is by way of [{PLACEHOLDERS}], which are replaced by the importing PHP file.
-->
<div id="kss-wrapper" class="styleguide">  
	<div id="kss-nav" class="content-col">
      <ul>
        <li><a href="[{STYLEGUIDE_PATH}]">0.0: About this guide</a></li>
        {{#eachRoot}}
        <li><a href="[{STYLEGUIDE_PATH}][{STYLEGUIDE_SECTION_PREFIX}]{{reference}}">{{reference}}.0: {{header}}</a></li>
        {{/eachRoot}}
      </ul>   
  </div>
  <div role="main" id="kss-main">
    <div id="kss-content">
      {{#if overview}}
      
      	<div id="kss-overview" class="content-col">
        {{html overview}}
        </div>
      {{else}}

        {{!
          Find each section, in order.
          If there's no markup or modifiers supplied, use a Markdown-only
          layout instead.

          The "root" element comes first in this loop, and can be detected using
          the "#whenDepth 1" block as seen below.
        }}
        {{#eachSection rootNumber}}
          {{#whenDepth 1}}
						<div class="content-col">
            	<h2 class="kss-title" id="kss-section-{{ reference }}"><span class="kss-ref">{{ reference }}.0</span> - {{ header }}</h2>
            </div>
          {{else}}
           <div class="styleguide-example kss-depth-{{ refDepth }}">           	
	         <h3 class="kss-title" id="kss-section-{{ reference }}"><span class="kss-ref">{{ reference }}.0</span> - {{ header }}</h3>            
          {{/whenDepth}}
            {{#ifAny markup modifiers}}
                <div class="content-col">
                  <div class="kss-box styleguide-description markdown-body">
                    <!-- the blurb -->
                    <h4 class="kss-heading">Description:</h4>
                    {{html description}}
                  </div>
                </div>  
                <!-- START EXAMPLE MARKUP -->               
                <div class="kss-markup styleguide-html">
                	<div class="content-col">
                  	<h4 class="kss-heading">HTML markup:</h4>
                  </div>
                  <div class="highlight">
                    <pre class="prettyprint lang-html">{{markup}}</pre>
                  </div>                  
                </div>
                <!-- END EXAMPLE MARKUP -->  
                <!-- START MODIFIERS -->
                <div class="content-col">
                  <div class="kss-box styleguide-description markdown-body styleguide-modifiers">
                    <div class="styleguide-variations">
                      <h4 class="kss-heading">CSS/HTML Modifiers:</h4>
                      <ul class="styleguide-modifier">
                      {{#eachModifier}}
                        <li>{{name}} - {{html description}}</li>
                      {{/eachModifier}}
                      </ul>            
                    </div>  
                  </div>                  
                </div>                  
                <!-- END MODIFIERS -->                                        
                <!-- START THE DEFAULT -->                
                <div class="styleguide-element styleguide-html-example">
                	<div class="styleguide-modifier-heading">
                  	<h4 class="kss-heading">Default layout</h4>
                  </div>
                  <!-- this is the visual example -->                  
                  <div class="kss-html-default">
                 		{{modifierMarkup}}   
                 	</div>
                 <div class="kss-clear"></div>
                </div>  
                <!-- END THE DEFAULT -->
                <!-- START THE VARIATIONS -->              
                {{#eachModifier}}
                <div class="styleguide-element styleguide-modifier">
                	<div class="styleguide-modifier-heading">
                  	<h4 class="kss-heading">Modified layout</h4>
                  </div>
                  <!-- state class that appears on the RHS -->
                  <span class="styleguide-modifier-name">{{name}}</span> 
                  <!-- this is the visual example -->
                 	<div class="kss-html-variation">
                 		{{modifierMarkup}}   
                 	</div>
                  <div class="kss-clear"></div>                                  
                </div>
                {{/eachModifier}}
                <!-- END THE VARIATIONS -->   
            		{{else}}
                {{#if description}}
                	<div class="content-col">
                  	<!-- this was using kss-para, which was a workaround and only supplied some styles -->
                  	<div class="kss-box styleguide-description markdown-body">
	                    <!-- the blurb -->
  	                  <h4 class="kss-heading">Description:</h4>
	                    {{html description}}
                    </div>
                  </div>
                {{/if}}
            {{/ifAny}}
          {{#whenDepth 1}} {{else}}
        </div>
          {{/whenDepth}}
        {{/eachSection}}
      {{/if}}
    </div>
  </div>
  <!-- SCRIPTS -->
  <script>
		var styleguide_path = '[{STYLEGUIDE_PATH}]'; // str
		var styleguide_munge_breadcrumbs = [{STYLEGUIDE_MUNGE_BREADCRUMBS}]; // boolean
		var styleguide_munge_title = [{STYLEGUIDE_MUNGE_TITLE}]; // boolean
		var styleguide_site_name = '[{STYLEGUIDE_SITE_NAME}]'; // str
		var styleguide_viewport_width = '1024'; // str
		var styleguide_template_path = '[{STYLEGUIDE_TEMPLATE_PATH}]'; // str
	</script>
  <!-- jQuery would usually be included in the importing page, so is redundant here -->
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->  
  <script src="[{STYLEGUIDE_TEMPLATE_PATH}]public/kss-demo-dotherightthing.js"></script>
  <script src="[{STYLEGUIDE_TEMPLATE_PATH}]public/kss.js"></script>
  <script src="[{STYLEGUIDE_TEMPLATE_PATH}]public/prettify.js"></script>
</div>
