<dict>
   <key>kss_node_folder</key>
   <string>/Users/Dan/github/kss-node</string>
   <key>project_styles_folder</key>
   <string>/Users/Dan/github/kss-node/demo-dotherightthing/public/demo-styles</string>
   <key>project_styleguide_folder</key>
   <string>/Users/Dan/github/kss-node/demo-dotherightthing/public/styleguide</string>
</dict>