<!-- 
	kss/index.html
	This is the template used by KSS-node to generate the documentation.  
  
  Project-specific customisation is by way of [{PLACEHOLDERS}], which are replaced by the importing PHP file.
-->
<div id="kss-wrapper" class="styleguide">  
	<div><a name="ksstop" id="ksstop"></a></div>
	<div id="kss-nav" class="styleguide-nav">
    <form id="kss-nav-form" action="[{STYLEGUIDE_PATH}]" method="get" class="kss-nojs">
      <select name="section" id="kss-nav-select" class="kss-select">
        <option value="0">0.0 About this guide</option>
        {{#eachRoot}}
        <option value="{{reference}}">{{reference}}.0 {{header}}</option>
        {{/eachRoot}}
      </select>
      <input type="submit" value="Go" class="submit" />
      <div class="styleguide-clear"></div>
      <!-- JS generated select injected here -->
    </form>
  </div>
  <div role="main" id="kss-main">  	
    <div id="kss-content">
      {{#if overview}}
      
      	<div id="kss-overview" class="styleguide-description">
        {{html overview}}
        </div>
      {{else}}

        {{!
          Find each section, in order.
          If there's no markup or modifiers supplied, use a Markdown-only
          layout instead.

          The "root" element comes first in this loop, and can be detected using
          the "#whenDepth 1" block as seen below.
        }}
        {{#eachSection rootNumber}}
          {{#whenDepth 1}}
            <h2 class="kss-title-level-1" id="kss-section-{{ reference }}"><span class="kss-ref">{{ reference }}.0</span> - {{ header }}</h2>              
            <div class="styleguide-example kss-nodepth">
          {{else}}
						<!-- then the box -->
						<div class="styleguide-example kss-depth-{{ refDepth }}">  
            	<div class="styleguide-html-examples-header">
								<h3 class="kss-title-level-{{ refDepth }}" id="kss-section-{{ reference }}"><span class="kss-ref">{{ reference }}.0</span> - {{ header }}</h3>                          	          
              </div>
          {{/whenDepth}}
            {{#ifAny markup modifiers}}            
              <!-- END html examples -->
              <div class="styleguide-html-examples">
              	{{#if description}}
                <div class="kss-box styleguide-description markdown-body styleguide-explanation">
                	<h4 class="styleguide-modifier-label">
                  	<span class="styleguide-category">Description</span>
                  </h4>
                  <!-- the blurb -->
                  {{html description}}
                </div> 
                {{/if}}
                <!-- START EXAMPLE MARKUP -->               
                <div class="kss-markup styleguide-raw-html">
                  <h4 class="styleguide-modifier-label">
                    <span class="styleguide-category">HTML Structure</span>
                  </h4>
                  <div class="highlight">
                    <pre class="prettyprint linenums lang-html">{{markup}}</pre>
                  </div>                  
                </div>
                <!-- END EXAMPLE MARKUP -->                                                                   
                <!-- START THE DEFAULT -->                
                <div class="styleguide-element styleguide-liner styleguide-html-default">
                  <h4 class="styleguide-modifier-label">
                  	<span class="styleguide-modifier-type">Default style</span>
                  </h4>
                  <!-- this is the visual example -->                  
                  <div class="kss-html-default">
                    {{modifierMarkup}}   
                    <div class="styleguide-clear"></div>
                  </div>                 
                </div>  
                <!-- END THE DEFAULT -->            
                  {{#eachModifier}}
                <!-- START THE VARIATION -->                  
                <div class="styleguide-element styleguide-liner styleguide-html-modifier">
                	<h4 class="styleguide-modifier-label">
                  	<span class="styleguide-modifier-type">Modified style</span>
                    <span class="styleguide-hidden">: </span>
                    <input type="text" value="{{name}}" class="styleguide-modifier-classname" size="80" autocomplete="off" readonly="readonly" />
                    <span class="styleguide-hidden"> - </span>
                    <span class="styleguide-modifier-classname-description">{{html description}}</span>
                  </h4>
                  <!-- this is the visual example -->                  
                  <div class="kss-html-variation">
                    {{modifierMarkup}}   
                    <div class="styleguide-clear"></div>
                  </div>                                                 
                </div>
                <!-- END THE VARIATION -->               
                {{/eachModifier}}                  
              </div>
              <!-- END html examples -->                                    							                                                      
            		{{else}}
                {{#if description}}
              <!-- START DESCRIPTION -->
              <!-- this was using kss-para, which was a workaround and only supplied some styles -->
							<div class="kss-box styleguide-description markdown-body">
              	{{html description}}
							</div>
              {{/if}}                
            {{/ifAny}}
          {{#whenDepth 1}} 
          		<!--<p class="styleguide-back-to-top"><a href="#ksstop" title="Back to top">^</a></p>-->
						</div>
            <!-- END example (depth) -->
          {{else}}        
						</div>
            <!-- END example (no depth) -->
          {{/whenDepth}}
        {{/eachSection}}
      {{/if}}
				</div>
			</div>
      <p class="styleguide-back-to-top"><a href="#">Back to top</a></p>
  <!-- SCRIPTS -->
  <script>
		var styleguide_path = '[{STYLEGUIDE_PATH}]'; // str
		var styleguide_munge_breadcrumbs = [{STYLEGUIDE_MUNGE_BREADCRUMBS}]; // boolean
		var styleguide_munge_title = [{STYLEGUIDE_MUNGE_TITLE}]; // boolean
		var styleguide_site_name = '[{STYLEGUIDE_SITE_NAME}]'; // str
		var styleguide_viewport_width = '1024'; // str
		var styleguide_template_path = '[{STYLEGUIDE_TEMPLATE_PATH}]'; // str
		document.domain = '[{STYLEGUIDE_DOMAIN}]';
	</script>
  <!-- jQuery would usually be included in the importing page, so is redundant here -->
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->  
  <script src="[{STYLEGUIDE_TEMPLATE_PATH}]public/kss-demo-dotherightthing.js"></script>
  <script src="[{STYLEGUIDE_TEMPLATE_PATH}]public/kss.js"></script>
  <!--<script src="[{STYLEGUIDE_TEMPLATE_PATH}]public/jss.js"></script>-->
  <script src="[{STYLEGUIDE_TEMPLATE_PATH}]public/prettify.js"></script>
</div>
