/* @ shared styles */

.kss-content-col { 
/* wraps heading, TOC, content */
	margin-top: 40px; 
}
.styleguide-clear,
.kss-clear {
	clear: both;
}
.styleguide h4.kss-heading {
	font-weight: normal !important;
	font-family: Arial !important;
	font-size: 16px !important;
	line-height: 1.3 !important;
	margin-bottom: 10px !important;	
}
	
/* @ the 'About this guide' overview page */
	
#kss-overview pre { 
	font-size: 1.5em; 
}	
#kss-overview .highlight pre { 
	margin: 20px 0; color: #000; background-color: #f8f8f8; border: 1px solid #ddd; font-size: 13px; font-family: "Bitstream Vera Sans Monoa",Courier,monospace; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 4px; 
}
#kss-overview .highlight pre .com { 
	color: #999988; 
}	

/* @ toc nav at the top of the page */

.styleguide-main-title {
 color: #333333;
 font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
 font-size: 40px;
 letter-spacing: 0.4px;
 line-height: 1.05;
 margin: 0 134px 0 0;
 padding: 0 0 40px;
}
#kss-nav {
	margin-bottom: 30px;
}
#kss-nav ul,
#kss-nav li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}
#kss-nav li {
	font-size: 13px;
	line-height: 1.4;
}
#kss-nav a {
	text-decoration: none;
}
#kss-nav a,
#kss-nav a:visited {
	color: #0056b5;
}
#kss-nav a:hover,
#kss-nav a:focus {
	color: #0056b5;
	text-decoration: underline;
}

/* @ example container */

.styleguide-example { 
	margin: 15px auto; 
	background: rgba(255,255,255,0.5); 
	border: 1px solid #ddd; 
	box-shadow: 0 0 5px rgba(0,0,0,0.1); 
}

/* @ example heading and TOC index */

.styleguide-example h3.kss-title { 
	margin: 0; 
	padding: 5px; 
	color: #fff; 
	font-size: 12px; 
	text-transform: uppercase; 
	background: #333; 
	border-top: 1px solid #000; 
}
.styleguide-example h3.kss-title em,
.styleguide-example h3.kss-title em a { 
	float: right; 
	text-transform: none; 
	font-style: normal; 
	font-weight: normal; 
	color: #999; 
}

/* @ example description, also inherited by the example modifer list */

.styleguide-example .styleguide-description { 
	padding: 1px 10px; 
	background: #f1f1f1; 
	border-bottom: 1px solid #ddd; 
}
.styleguide-example .styleguide-description h4,
.styleguide-description h4 {
	font-weight: normal !important;
	font-family: Arial !important;
	font-size: 16px !important;
	line-height: 1.3 !important;
	margin-bottom: 10px !important;	
}
.styleguide-example .styleguide-description h4:first-child,
.styleguide-description h4:first-child { 
	margin-top: 1em; 
}
.styleguide-example .styleguide-description p:first-child,
.styleguide-description p:first-child { 
	margin-top: 0; 
}
.styleguide-example .styleguide-description p:last-child,
.styleguide-description p:last-child { 
	margin-bottom: 10px;
}
.styleguide-example .styleguide-description p,
.styleguide-example .styleguide-description li,
.styleguide-description p,
.styleguide-description li {
	font-size: 13px;
	line-height: 1.3;
}
.styleguide-example .styleguide-description p,
.styleguide-example .styleguide-description ul,
.styleguide-example .styleguide-description ol,
.styleguide-description p,
.styleguide-description ul,
.styleguide-description ol {
	margin-bottom: 10px;
}
.styleguide-example .styleguide-description ul,
.styleguide-example .styleguide-description ol,
.styleguide-description ul,
.styleguide-description ol {
	margin-left: 16px;
}
.styleguide-example .styleguide-description ul,
.styleguide-description ul {
	list-style: disc;
}
.styleguide-example .styleguide-description ol,
.styleguide-description ol {
	list-style: decimal;
}
.styleguide-example .styleguide-description ol li,
.styleguide-description ol li {
	margin-left: 16px;
}

/* @ example modifier list */

.styleguide-example .styleguide-modifiers { 
	background-color: #fefeed; /* the container */
}
.styleguide-example .styleguide-description ul.styleguide-modifier {
	margin-bottom: 20px;
	margin-left: 0;
}
.styleguide-example .styleguide-description ul.styleguide-modifier,
.styleguide-example .styleguide-description ul.styleguide-modifier li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	background: none !important; /* hide bullets, including any inherited from the project stylesheets */
}
.styleguide-example .styleguide-description ul.styleguide-modifier li {
	font-size: 13px;
	line-height: 2;
	font-family: "Courier New", Courier, monospace; /* style the modifier classname */
}
.styleguide-example .styleguide-description ul.styleguide-modifier li p {
	font-family: Arial, Helvetica, sans-serif; /* style the modifier description */
	display: inline;
}

/* @ example html, displayed as code */

#kss-content code,
#kss-content pre {
	font-family: "Courier New", Courier, monospace !important;
}
.styleguide-example .styleguide-html { 
	padding: 15px 15px; 
	background: #edf6f8; 
	overflow: auto; 
	border-bottom: 1px solid #ddd; 
	width: 994px; /* hack for IE6 to make overflow work correctly (1024 - 2*15) */
}
.styleguide-example>.styleguide-html { 
	width: auto; /* undo IE6 hack */
}
.styleguide-example .styleguide-html .highlight { 
/* the code block within the container */
	background: none; 
	font-size: 13px;
	line-height: 1.3;
}

/* @ example html, displayed as rendered html */

/* there are two variants: 
   .styleguide-html-example - the Default block
	 .styleguide-modifier - the modified block
*/

.styleguide-example .styleguide-element { 
	position: relative; 
	padding: 50px 20px 20px 20px; 
	border-top: 1px solid #eee; 
	overflow: auto; 
	width: 984px; /* hack for IE6 to make overflow work correctly (1024 - 2*20) */
}
.styleguide-example>.styleguide-element { 
	width: auto; /* undo IE6 hack */
}
.styleguide-example .styleguide-element .styleguide-modifier-heading { 
	display: block; 
	position: absolute; 
	top: 0; left: 0; 
	padding: 5px 15px; 
	font-size: 11px; 
	color: #999; 
	background: #f9f9f9; 
	border: 1px solid #eee; 
	border-top: none; 
}
.styleguide-example .styleguide-element .styleguide-modifier-heading h4 {
/* the 'Default layout' and 'Modified layout' labels on the LHS */
  font-weight: normal;
	font-family: Arial !important;
	font-size: 11px !important;
	line-height: 1.3 !important;	
	margin-bottom: 0 !important;
}
.styleguide-example .styleguide-element .styleguide-modifier-name { 
/* the '.modifier' label on the RHS */
	display: block; 
	position: absolute; 
	top: 0; 
	right: 0; 
	padding: 7px 15px 5px 15px; 
	font-size: 12px; 
	color: #999; 
	background: #f9f9f9; 
	border: 1px solid #eee; 
	border-top: none; 
	font-family: courier;
}

/* orphan styles for reuse by the .kss-html-variation-print iframe */

.styleguide-placeholder {
	position: relative; /* AP */
	display: inline-block; /* shrink-wrap */
}
.styleguide-placeholder .styleguide-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(styleguide-placeholder.png);
}
.styleguide-print .styleguide-placeholder .styleguide-overlay {
	background: url(styleguide-placeholder.png) !important;
}

/* print preview styles */

.styleguide-print-heading {
	color: #666 !important;
	font-size: 10px;
	margin: 20px 0 15px 0 !important;
}
.styleguide-print-iframe {
	padding: 0;
	border: 0 none;
	margin: 0;	
}
.styleguide-print * {
	background-image: none !important;
}
/*
Cufon - needs more work:

.styleguide-print cufon {
	padding: 0!important;
}
.styleguide-print cufon canvas {
	display: none! important;
}

*/

/* @ styles for the overview page */

/* kss-para used if there are no markup modifiers (I think) */

.kss-para p,
.kss-para li,
#kss-overview p,
#kss-overview li,
#kss-overview pre,
#kss-overview code {
	font-size: 13px;
}

.kss-para p,
.kss-para ul,
#kss-overview p,
#kss-overview ol,
#kss-overview ul {
	margin-bottom: 10px;
}

#kss-overview li {
	padding-left: 5px;
	margin-left: 16px;
	margin-bottom: 5px;
}
h2.kss-title,
#kss-overview h2,
#kss-overview h3,
#kss-overview h4,
#kss-overview h5 {
 font-weight: normal;
	margin-bottom: 10px;
}
h2.kss-title,
#kss-overview h2 {
 font-size: 20px;
}
#kss-overview h3 {
 font-size: 17px;
	margin-top: 20px;
}
#kss-overview h4 {
	font-size: 15px;
	margin-top: 20px;
}
#kss-overview h5 {
	font-size: 13px;
	margin-top: 15px;
}
#kss-overview ul,
#kss-overview ol {
	margin-left: 16px;
	margin-top: 5px;
}
#kss-overview ul li {
	list-style: disc;
}
#kss-overview ol li {
		list-style: decimal;
}
#kss-overview #kss-nav {
	margin-left: 0;
}

// ------------------------------------------------------------------------------
//   @group prettyprint.js styling
// ------------------------------------------------------------------------------
/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln {  color: #000 }  /* plain text */

@media screen { 
  .str {  color: #080 }  /* string content */
  .kwd {  color: #008 }  /* a keyword */
  .com {  color: #800 }  /* a comment */
  .typ {  color: #606 }  /* a type name */
  .lit {  color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo {  color: #660 }
  .tag {  color: #008 }  /* a markup tag name */
  .atn {  color: #606 }  /* a markup attribute name */
  .atv {  color: #080 }  /* a markup attribute value */
  .dec, .var {  color: #606 }  /* a declaration;  a variable name */
  .fun {  color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection { 
  .str {  color: #060 }
  .kwd {  color: #006;  font-weight: bold }
  .com {  color: #600;  font-style: italic }
  .typ {  color: #404;  font-weight: bold }
  .lit {  color: #044 }
  .pun, .opn, .clo {  color: #440 }
  .tag {  color: #006;  font-weight: bold }
  .atn {  color: #404 }
  .atv {  color: #060 }
}

/* Put a border around prettyprinted code snippets. */
/*pre.prettyprint {  padding: 2px;  border: 1px solid #888 }*/

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {  margin-top: 0;  margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {  list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {  background: #eee }


/* ... */
	
.styleguide-example .styleguide-description h4,
.styleguide-description h4 {
	font-weight: normal !important;
	font-family: Arial !important;
	font-size: 16px !important;
	line-height: 1.3 !important;
	margin-bottom: 10px !important;	
}
.styleguide-example .styleguide-description h4:first-child,
.styleguide-description h4:first-child { 
	margin-top: 1em; 
}
.styleguide-example .styleguide-description p:first-child,
.styleguide-description p:first-child { 
	margin-top: 0; 
}
.styleguide-example .styleguide-description p:last-child,
.styleguide-description p:last-child { 
	margin-bottom: 10px;
}
.styleguide-example .styleguide-description p,
.styleguide-example .styleguide-description li,
.styleguide-description p,
.styleguide-description li {
	font-size: 13px;
	line-height: 1.3;
}
.styleguide-example .styleguide-description p,
.styleguide-example .styleguide-description ul,
.styleguide-example .styleguide-description ol,
.styleguide-description p,
.styleguide-description ul,
.styleguide-description ol {
	margin-bottom: 10px;
}
.styleguide-example .styleguide-description ul,
.styleguide-example .styleguide-description ol,
.styleguide-description ul,
.styleguide-description ol {
	margin-left: 16px;
}
.styleguide-example .styleguide-description ul,
.styleguide-description ul {
	list-style: disc;
}
.styleguide-example .styleguide-description ol,
.styleguide-description ol {
	list-style: decimal;
}
.styleguide-example .styleguide-description ol li,
.styleguide-description ol li {
	margin-left: 16px;
}