/* @ shared styles */
/* Last updated 22.11.2012 by DTRT */
/* TODO: waypoints nav - maybe this could just select the correct option in the select element? */

/* toc nav at the top of the page */

	.kss-content-col {
		position: relative; /* AP */
	}
	.styleguide-nav {
	
		margin-bottom: 30px;
		margin-right: 20px;
		margin-top: 40px;
		
	}
	.styleguide-nav select {
		font-size: 12px;	
		width: 100%;
		padding: 5px;	 /* doesn't affect chrome/safari on mac */
		-webkit-appearance: menulist-button; /* for chrome safari on mac */
		height: 30px; /* for chrome safari on mac */
	}
	.styleguide-nav .kss-nojs select {
		width: 95%;
		float: left;
		min-height: 28px;
	}
	.styleguide-nav input.submit {
		display: none;
	}
	.styleguide-nav .kss-nojs input.submit {
		display: block;
		width: 5%;
		float: right;
		min-height: 28px;
	}	

/* intro at start of styleguide */ 

	.markdown-body {
		margin-bottom: 40px !important;
	}
	#kss-overview .prettyprint {
		display: block;
	}

	.styleguide-intro a,
	.styleguide-intro a:visited {
		color: #0056b5;	
		text-decoration: none;	
	}
	.styleguide-intro a:hover,
	.styleguide-intro a:focus {
		color: #0056b5;
		text-decoration: underline;	
	}
	
/* raw code */

	.kss-nodepth .styleguide-raw-html {
	/* we allow html demos in section root items (for template links etc), but hide the pretty code and label */
		display: none !important;
	}	

/* rendered demos */

/*
	.kss-html-variation:before,
	.kss-html-variation:after {
		content: "start demo" !important;
		color: #080 !important;
		font-family: "Courier New",Courier,monospace !important;
		font-size: 12px !important;
		line-height: 20px !important;
		font-weight: normal !important;
		margin: 10px 0;
		display: block;
	}
	.kss-html-variation:after {
		content: "end demo" !important;	
	}
*/	


	.styleguide-html-examples-header,
	.styleguide-html-examples {
	/* box em up */
		background-color: #f7f7f7;
		border: 1px solid #ddd;
		border-radius: 4px 4px 4px 4px;
		padding: 0 10px;
		margin: 15px 0;
	}
	.styleguide-html-examples-header {
		background-color: #FFFAF0 !important;
	}
		
	.styleguide-raw-html,
	.styleguide-explanation,
	.styleguide-html-default,
	.styleguide-list-of-modifiers,
	.styleguide-html-modifier {
	/* aka bootstrap 2.3 .bs-docs-example */
		position: relative;	
		background-color: #fefefe;
		border: 1px solid #ddd;
		border-radius: 4px 4px 4px 4px;
		padding: 0 19px 14px;
		margin: 15px 0;
		width: 964px !important; /* hack for IE6 to make overflow work correctly (1024 - 2*20) */	
		overflow: auto;
	}
	.styleguide-html-default .kss-html-default,
	.styleguide-html-modifier .kss-html-variation {
		background: url(photoshop-transparency.png) !important;
	}
	.styleguide-raw-html .highlight {
		overflow: auto;
	}	
	.styleguide-modifier-label,
	.styleguide-description h4.styleguide-modifier-label {
	/* aka bootstrap 2.3 .bs-docs-example:after */
		
		/*
		top: -1px !important;
		left: -1px !important;	
		background-color: #F5F5F5 !important;
		border: 1px solid #DDDDDD !important;
		border-radius: 4px 0 4px 0 !important;
		*/
		/* plain look is a bit nicer */
		/*
		position: absolute !important;
		top: 8px !important;
		left: 10px !important;		
		*/
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	
	.styleguide-category,
	input.styleguide-modifier-classname,
	.styleguide-modifier-type,
	.styleguide-description h4.styleguide-category,
	.styleguide-modifier-classname-description {
	/* aka bootstrap 2.3 .bs-docs-example:after */		
		color: #333 !important;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
		font-size: 14px !important;		
		padding: 3px 4px 3px 0 !important;
	}
	.styleguide-modifier-classname-description {
		display: block;
	}
	.styleguide-category,
	.styleguide-modifier-type {
		font-weight: bold !important;	
	}
	
	.styleguide-modifier-classname-description p {
		background: none repeat scroll 0 0 #fbfbfb;
    color: #999999 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    padding: 4px !important;
		margin-top: 2px;
	}
	.styleguide-html-modifier:hover .styleguide-modifier-classname-description p {
		color: #333 !important; /* bump up legibility on hover */
	}
	.styleguide-html-modifier:hover {
		cursor: copy;
	}
	
	.styleguide-category:before,
	.styleguide-modifier-type:before,
	.styleguide-description h4.styleguide-category:before {
		content: "// ";
	}
	
	.styleguide-html-modifier .styleguide-modifier-type {
		color: #ccc !important;
	}
	.styleguide-html-modifier:hover .styleguide-modifier-type {
		color: #666 !important;
	}	
	
	.kss-nodepth .styleguide-element {
		padding-top: 20px;
	}		
	
	input.styleguide-modifier-classname {
		background-color: #FFFAF0 !important;
		font-family: "Courier New", Courier, monospace !important;
		padding: 0 8px 0 0 !important; /* allow for hover offset */
		border: 1px solid transparent;
		_border: none; /* ie6 */
	}
	.styleguide-html-modifier:hover input.styleguide-modifier-classname {
		border-color: #E1E1E8; 
	}
	input.styleguide-modifier-classname:focus {
		padding: 0 0 0 8px !important; /* offset the removed leading dot */
		margin-right: 0;
	}


/* Fonts */

	h1.styleguide-main-title,
	h2.kss-title-level-1,
	h3.kss-title-level-2,
	h3.kss-title-level-3 {
	/* aka bootstrap 2.3 h1, h2, h3, h4, h5, h6 */
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;	
		font-weight: bold !important;	
		line-height: 20px !important;
		padding: 0 !important;
		border: 0 !important;
		margin: 10px 0 !important;
	}
	
	h1.styleguide-main-title {
		color: #000 !important;
		font-size: 50px !important;
		margin: 40px 0 30px !important; 	
	}
	h2.kss-title-level-1 {	
	/* aka bootstrap 2.3 .page-header */	
		font-size: 38.5px !important;
		line-height: 40px !important;	
		color: #000 !important; 
		padding-bottom: 9px !important;
		border-bottom: 1px solid #eee !important;
		margin: 20px 0 30px !important;    
	}
	h3.kss-title-level-2 {
	/* aka bootstrap 2.3 h3 */	
		font-size: 24.5px !important;		
		line-height: 40px !important;
		color: #000 !important; 
	}
	h3.kss-title-level-3 { 
	/* aka bootstrap 2.3 h4 */
		font-size: 24.5px !important;
		color: #333 !important; 
	}
	.styleguide-description ol,
	.styleguide-description ul {
		margin-left: 20px;
	}
	.styleguide-html pre,
	.styleguide-description p,
	.styleguide-description h2,
	.styleguide-description h3,
	.styleguide-description h4,
	.styleguide-description h5,
	.styleguide-description h6,
	.styleguide-description li {
	/* aka bootstrap 2.3 p */
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
		color: #000 !important; /* was 333 */
		font-size: 14px !important;
		line-height: 20px !important;
		margin: 0 0 10px !important;		
	}
	.styleguide-description h2 {
		font-size: 18px !important;	
		margin-top: 30px !important;
	}
	.styleguide-example {
		position: relative;
	}
	.styleguide-example .styleguide-back-to-top a {
		position: absolute;
		bottom: 0;
		right: -50px;	
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
		color: #000 !important; /* was 333 */
		font-size: 30px !important;	
	}
	.styleguide-raw-html pre,
	.styleguide-description code {
		font-family: "Courier New",Courier,monospace !important;
		font-size: 14px !important;
		line-height: 20px !important;
		font-weight: normal !important;
		color: #333 !important;		
	}

/* modifiers list is in a table */
/* aka bootstrap 2.3 table + .table-bordered + .table-striped */

	table.styleguide-table,
	.styleguide-table th,
	.styleguide-table td,
	.styleguide-table td p {
		color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;			
	}

	table.styleguide-table {
		background-color: transparent;
		width: 100%;
		max-width: 100%;
		border-collapse: separate;
		border: 1px solid #ddd;
		border-width: 0 1px 1px 0;	
		border-radius: 4px 4px 4px 4px;	
		margin-bottom: 20px;			
	}
	table.styleguide-table tbody tr:nth-child(2n+1) td, 
	table.styleguide-table tbody tr:nth-child(2n+1) th {
    background-color: #F9F9F9;
	}
	.styleguide-table th {
		font-weight: bold;
	}
	.styleguide-table th,
	.styleguide-table td {
		text-align: left;
		vertical-align: top;
		padding: 8px;
		border: 1px solid #ddd;
		border-width: 1px 0 0 1px;	
	}

/* orphan styles for reuse by the .kss-html-variation-print iframe */

	.styleguide-placeholder {
		position: relative; /* AP */
		display: inline-block; /* shrink-wrap */
	}
	.styleguide-placeholder .styleguide-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(styleguide-placeholder.png);
	}
	.styleguide-print .styleguide-placeholder .styleguide-overlay {
		background: url(styleguide-placeholder.png) !important;
	}

/* print preview styles */

	.styleguide-print-heading {
		color: #666 !important;
		font-size: 10px;
		margin: 20px 0 15px 0 !important;
	}
	.styleguide-print-iframe {
		padding: 0;
		border: 0 none;
		margin: 0;	
	}
	.styleguide-print * {
		background-image: none !important;
	}

/* back to top link */

	.styleguide-back-to-top a {
		display: block;
		padding: 7px;
		text-align: center;
		background: #666;
		color: #fff !important;
		text-decoration: none;
		font-size: 13px;
	}

/* helpers useful in styleguides */

	.styleguide-reveal {
		background-color: #f1f1f1;
		margin-bottom: 8px;
	}
	.styleguide-reveal-bottomless {
		background-color: #f1f1f1;
		margin-bottom: 0;	
	}
	.styleguide-reveal .styleguide-reveal {
		background-color: #f7f7f7;
		margin-bottom: 0;	
	}
	.styleguide-reveal-light {
		background-color: #fbfbfb;	
	}
	.styleguide-block-20 {
		display: block;
		height: 20px;
	}
	.styleguide-block-50 {
		display: block;
		height: 50px;	
	}
	.styleguide-clear {
		clear: both;
	}
	.styleguide-nofloat {
		float: none !important;
	}
	.styleguide-hidden {
		display: none;
	}
	.styleguide-docsonly {
		background: white !important; /* suppressed the photoshop tile bg */
	}

/* prettyprint.js styling */
/* also ripped from bootstrap 2.3: http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css */
/* SPAN elements with the classes below are added by prettyprint. */

@media screen { 
  .str {  color: #080 }  /* string content */
  .kwd {  color: #008 }  /* a keyword */
  .com {  color: #800 }  /* a comment */
  .typ {  color: #606 }  /* a type name */
  .lit {  color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo {  color: #660 }
  .tag {  color: #008 }  /* a markup tag name */
  .atn {  color: #606 }  /* a markup attribute name */
  .atv {  color: #080 }  /* a markup attribute value */
  .dec, .var {  color: #606 }  /* a declaration;  a variable name */
  .fun {  color: red }  /* a function name */
	.pln {  color: #000 }  /* plain text */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection { 
  .str {  color: #060 }
  .kwd {  color: #006;  font-weight: bold }
  .com {  color: #600;  font-style: italic }
  .typ {  color: #404;  font-weight: bold }
  .lit {  color: #044 }
  .pun, .opn, .clo {  color: #440 }
  .tag {  color: #006;  font-weight: bold }
  .atn {  color: #404 }
  .atv {  color: #060 }
	.pln {  color: #000 }  /* plain text */
}

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	list-style: decimal !important;
  margin: 0 0 0 33px !important; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px !important;
	margin-left: 0 !important;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}